<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ProcurementSystem.dao.ISupplierSIMDao">
	<resultMap id="SIMTreeMap" type="com.ProcurementSystem.entity.SIMTreeNode">
		<result property="parentId" column="parent_id" />
		<result property="type" column="type" />
		<result property="order" column="order" />
		<association property="supplierSIM" javaType="com.ProcurementSystem.entity.SupplierSIM">
			<id property="id" column="simId" />
			<id property="title" column="simTitle" />
		</association>
		<!-- association property: entity class里的实体名称
						 javaType: entity class
				id		 property: entity class attribute
						 column:   consistance with the following *** as ___
		-->
	</resultMap>	
	
	<!-- 找出下一层所有子节点 -->
	<select id="getChildren" parameterType="int" resultMap="SIMTreeMap">
		select 
			n.order,
			c.type, 
			c.id as simId, 
			c.title as simTitle
		from supplier_sim c, supplier_sim_nodes n
		where parent_id = #{parentId}
		and children_id = c.id
		and publish = 1;
	</select>

	<!-- 获取父节点id,名称,父节点下的order -->
	<select id="getParentNode" parameterType="int" resultMap="SIMTreeMap">
		select 
			n.order,
			c.id as simId, 
			c.title as simTitle
		from supplier_sim c, supplier_sim_nodes n
		where n.children_id = #{id}
		and c.id = n.parent_id;
	</select>

	<select id="getMaxId" resultType="int">
		select max(id) from supplier_sim
	</select>
	
	<insert id="addFolder" parameterType="com.ProcurementSystem.entity.SupplierSIM">
		<!-- type:1 folder -->
		insert into supplier_sim(id, type, title, description, visible_to_participants, group_restriction, visible_condition) values
		(#{id}, "1", #{title}, #{description}, #{visibleToParticipants}, #{groupRestriction}, "");
	</insert>
	
	<insert id="addQuestion" parameterType="com.ProcurementSystem.entity.SupplierSIM">
		<!-- type:2 question -->
		insert into supplier_sim(id, type, title, description, answer_type, multiple_value, initial_answer, accept_value) values
		(#{id}, "2", #{title}, #{description}, #{answerType}, #{multipleValue}, #{initialAnswer}, #{acceptValue});
	</insert>
	
	<insert id="addSelection" parameterType="com.ProcurementSystem.entity.SupplierSIMSelection">
		<!-- type:2 question -->
		insert into supplier_sim_selection(question_id, selection_id, content) values
		(#{questionId}, #{selectionId}, #{content});
	</insert>

</mapper>