<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ProcurementSystem.dao.ISupplierSQMDao">
	<resultMap id="SQMMap" type="com.ProcurementSystem.entity.SupplierSQM">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="description" column="description" />
		<result property="commodity" column="commodity" />
		<result property="status" column="status" />
		<result property="validTo" column="valid_to" />
		<result property="lastValid" column="last_valid" />
		<association property="supplier" javaType="com.ProcurementSystem.entity.Supplier">
			<id property="uniqueName" column="supplierId" />
			<id property="name" column="supplierName" />
		</association>
		<association property="user" javaType="com.ProcurementSystem.entity.User">
			<id property="uniqueName" column="userId" />
			<id property="name" column="userName" />
		</association>
		<!-- association property: entity class里的实体名称
						 javaType: entity class
				id		 property: entity class attribute
						 column:   consistance with the following *** as ___
		-->
	</resultMap>

	<insert id="insertSQM" parameterType="com.ProcurementSystem.entity.SupplierSQM">
		insert into supplier_sqm(id, title, description, commodity, status, valid_to, 
		last_valid, supplier_id, user_id)
		values(#{id}, #{title}, #{description}, #{commodity}, #{status}, #{validTo},
		#{lastValid}, #{supplier.uniqueName}, #{user.uniqueName});
	</insert>
	
	<select id="searchAllSupplierSQM" resultMap="SQMMap">
		select 
			id as id,
			title as title,
			description as description,
			commodity as commodity,
			valid_to as validTo,
			last_valid as lastValid,
			supplier_id as supplierId,
			user_id as userId,
			status as status
		from supplier_sqm;
	</select>
	
	<select id="getMaxId" resultType="int">
		select max(id) from supplier_sqm;
	</select>
	
	<select id="getSupplierSQM" parameterType="int" resultMap="SQMMap">
		select 
			id as id,
			title as title,
			description as description,
			commodity as commodity,
			valid_to as validTo,
			last_valid as lastValid,
			supplier_id as supplierId,
			user_id as userId,
			status as status
		from supplier_sqm
		where id = #{id};
	</select>
	
	<select id="searchSupplierSQM" parameterType="String" resultMap="SQMMap">
		select
			id as id,
			title as title,
			description as description,
			commodity as commodity,
			valid_to as validTo,
			last_valid as lastValid,
			supplier_id as supplierId,
			user_id as userId,
			status as status
		from supplier_sqm
		where title like concat("%",#{title},"%");
	</select>
	
	<update id="updateSQMStatus" parameterType="com.ProcurementSystem.entity.SupplierSQM">
		update supplier_sqm
		<set>	
			status=#{status}
		</set>
		where id = #{id};
	</update>
	
		<!-- 带条件搜索 -->
	<select id="completeSearchSupplierSQM" parameterType="map" resultMap="SQMMap">
		select 
			id as id,
			title as title,
			supplier_sqm.description as description,
			commodity as commodity,
			supplier_id as supplierId,
			user_id as userId,
			supplier_id as supplierId,
			user_id as userId,
			supplier_sqm.status as status,
			supplier.name as supplierName,
			user.name as userName
		from supplier_sqm, supplier, user
		where 1=1
			and supplier_sqm.supplier_id = supplier.unique_name
			and supplier_sqm.user_id = user.unique_name
			<if test="content!='' and content!=null">
				and title like concat("%",#{content},"%")
			</if>
			<if test="supplierSQM.title!='' and supplierSQM.title!=null">
				and title like concat("%",#{supplierSPM.title},"%")
			</if>
			<if test="supplierSQM.supplier.uniqueName!='' and supplierSQM.supplier.uniqueName!=null">
				and supplier_id like concat("%",#{supplierSQM.supplier.uniqueName},"%")
			</if>
			<if test="supplierSQM.status!='' and supplierSQM.status!=null and supplierSQM.status!='无选择'">
				and status like concat("%",#{supplierSQM.status},"%")
			</if>
	</select>
	
</mapper>