<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ProcurementSystem.dao.IBuyerTemplateDao">

	<insert id="add" parameterType="com.ProcurementSystem.entity.Template"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		template(name,description,type,template_task_tree_node_id,owner)
		values(
		#{name},#{description},#{type},#{templateTaskTreeNode.id},#{owner}
		)
	</insert>


	<select id="get" parameterType="com.ProcurementSystem.entity.Template"
		resultMap="templateMap">
		select
		t.id as templateId,
		t.name
		as templateName,
		t.description as
		templateDescription,
		t.type as
		templateType,
		t.owner as
		templateOwner,
		t.status as templateStatus,
		tttn.id as
		templateTaskTreeNodeId,
		tttn.type,
		ttp.id as
		templateTaskPhaseId,
		ttp.title as templateTaskPhaseTitle,
		ttp.description as
		templateTaskPhaseDescription,
		ttp.reserve_content as
		templateTaskPhaseReserveContent,
		ttp.rank as
		templateTaskPhaseReserveRank,
		ttp.is_duped as templateTaskPhaseIsDuped,
		tts.id as templateTaskScheduleId,
		ttp.owner as templateTaskPhaseOwner,
		tts.title as
		templateTaskScheduleTitle,
		tts.owner as
		templateTaskScheduleOwner,
		tts.watcher as templateTaskScheduleWatcher,
		tts.ddl as
		templateTaskScheduleDdl,
		tts.is_milestone as
		templateTaskScheduleIsMileStone,
		tts.is_must as
		templateTaskScheduleIsMust,
		tts.set_field as
		templateTaskScheduleSetField,
		tts.pre_task as
		templateTaskSchedulePreTask,
		tts.rank as templateTaskScheduleRank
		from
		template
		t left join template_task_tree_node tttn
		on
		t.template_task_tree_node_id = tttn.id
		left join
		template_task_phase ttp
		on
		tttn.template_task_phase_id = ttp.id and
		tttn.type=1
		left join
		template_task_schedule tts on tttn.template_task_schedule_id =
		tts.id
		and tttn.type=0
		where 1=1
		<if test="id !=null and id != ''">
			and t.id = #{id}
		</if>
		<if test="type !=null and type != ''">
			and t.type = #{type}
		</if>
		<if test="status !=null and status != ''">
			and t.status = #{status}
		</if>
	</select>
	<resultMap id="templateMap" type="com.ProcurementSystem.entity.Template">
		<id property="id" column="templateId" />
		<result property="name" column="templateName" />
		<result property="description" column="templateDescription" />
		<result property="type" column="templateType" />
		<result property="status" column="templateStatus" />
		<result property="owner" column="templateOwner" />
		<association property="templateTaskTreeNode"
			javaType="com.ProcurementSystem.entity.TemplateTaskTreeNode">
			<id property="id" column="templateTaskTreeNodeId" />
			<result property="type" column="type" />
			<association property="templateTaskPhase"
				javaType="com.ProcurementSystem.entity.TemplateTaskPhase">
				<id property="id" column="templateTaskPhaseId" />
				<result property="title" column="templateTaskPhaseTitle" />
				<result property="description" column="templateTaskPhaseDescription" />
				<result property="reserveContent" column="templateTaskPhaseReserveContent" />
				<result property="rank" column="templateTaskPhaseReserveRank" />
				<result property="isDuped" column="templateTaskPhaseIsDuped" />
				<result property="owner" column="templateTaskPhaseOwner" />
			</association>
			<association property="templateTaskSchedule"
				javaType="com.ProcurementSystem.entity.TemplateTaskSchedule">
				<id property="id" column="templateTaskScheduleId" />
				<result property="title" column="templateTaskScheduleTitle" />
				<result property="owner" column="templateTaskScheduleOwner" />
				<result property="watcher" column="templateTaskScheduleWatcher" />
				<result property="ddl" column="templateTaskScheduleDdl" />
				<result property="isMilestone" column="templateTaskScheduleIsMilestone" />
				<result property="isMust" column="templateTaskScheduleIsMust" />
				<result property="setField" column="templateTaskScheduleSetField" />
				<result property="preTask" column="templateTaskSchedulePreTask" />
				<result property="rank" column="templateTaskScheduleRank" />
			</association>
		</association>
	</resultMap>


	<delete id="delete" parameterType="int">
		delete from template where
		id=#{id}
	</delete>


	<update id="setStatus">
		update template
		set status = #{status}
		where
		id=#{id}
	</update>

	<select id="getActivatedTemplate" parameterType="string" resultType="com.ProcurementSystem.entity.Template">
		select *
		from
			template
		where
			type = #{type}
		and
			status = '已激活'
	</select>


</mapper>