.margin-input {
	margin: 5px 0 5px 0;
}

.img-icon {
	width: 20px;
	height: 20px;
	box-sizing: content-box;
	padding: 10px 10px 10px 10px;
	margin: 0 10px 0 10px;
}

.icon-choose {
	background-color: #199DE0;
}

.commodity-catalog-compare-table {
	border-collapse: separate;
	border-spacing: 10px 20px;
}

.shopping-cart-size {
	display: inline-block;
	padding: 1px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	background-color: #f10215;
	-moz-border-radius: 7px;
	border-radius: 7px;
	min-width: 12px;
	text-align: center;
}

.shopping-cart-icon {
	color: black;
	font-size: 20px;
}

.shopping-cart-btn {
	background-color: transparent;
	margin-right: 50px;
	border: 0px;
}
.procure-nav{
	margin-left:30px;
	background-color:transparent;
	border:0px;
	font-size:16px;
}